.weather-app {
  max-width: 650px;
  margin: 50px auto;
  padding: 30px;
  border: none;
  box-shadow: 0 40px 50px rgba(134, 37, 37, 0.18);
  border-radius: 10px;
  margin-bottom: 0;
  background: linear-gradient(
    181.2deg,
    rgb(69, 94, 132) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}
.weather-app-container {
  max-width: 650px;
  margin: 50px auto;
}

body {
  background: linear-gradient(to top, #fff1eb 0%, #bb99dc 100%);
}
.card {
  width: 200px;
  margin-top: 20px;

  box-shadow: 0 10px 20px rgb(82 31 73 / 18%);
  background: #e4f1fe;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card:hover {
  transition: width 2s, height 2s, transform 2s;
  width: 200px;
  height: 200px;
  transform: rotate(360deg);
}
h1 {
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  text-decoration: #1a0380;
}
.date {
  color: rgb(14, 12, 12);
  line-height: 1.2;
  margin-top: 50px;
}

h6 {
  color: #1a0380;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}
.temperature {
  color: rgb(135, 135, 135);
  font-size: 45px;
  font-weight: 100;
  line-height: 19px;
}
.units {
  color: rgb(135, 135, 135);
  position: relative;
  top: -18px;
  font-size: 20px;
}
.description {
  color: rgb(20, 18, 18);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

.humidity-wind {
  font-size: large;
  position: relative;
  bottom: -50px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.humidity-wind {
  opacity: 0.7;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
#city-input {
  background: #21046c;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);

  font-size: 16px;
  height: 40px;
  line-height: 20px;
  padding: 15px 20px;
}
#city-input {
  margin-bottom: 30px;
  height: 45px;
  background: #e4f1fe;
}
#search-input {
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  padding: 10px 0;
  opacity: 0.8;
}
